<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"	
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans.xsd
	 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		
		http://www.springframework.org/schema/task
            http://www.springframework.org/schema/task/spring-task-4.0.xsd
        
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">
 
	<context:annotation-config />
	<task:annotation-driven />
	
	<context:component-scan base-package="com.jmiddleway.*" />
	
	 
	 <tx:annotation-driven transaction-manager="transactionManager" mode="aspectj"
         proxy-target-class="false"  /> 
	 <!--  JMiddleWayServletContext - provides a servelet context to help in autowire beans -->
	 <bean id="jMiddleWayServletContext" class="com.jmiddleway.util.JMiddleWayServletContext"></bean>
	  <bean id="contextApplicationContextProvider" class="com.jmiddleway.app.filters.ApplicationContextProvider"/>
	 <!--  LoggerInjector - helps to inject Logger to any bean -->
	  <bean class="com.jmiddleway.log.LoggerInjector" />
	 
	 <!--  Add your beans -->
	 <bean id="yourResourceService" class="com.jmiddleway.service.YourResourceService"></bean>
	 
 </beans> 