<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<property resource="logback.properties" />
	
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <!-- reset all previous level configurations of all j.u.l. loggers -->
        <resetJUL>true</resetJUL>
    </contextListener> 

  	<appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- <File>${destination}.log</File> -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		    <!-- daily rollover -->
			<FileNamePattern>${destination}-%d{yyyy-MM-dd}.log</FileNamePattern>	
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>			
		</rollingPolicy>
 
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
		</encoder> 	    
  	</appender>
  		
	<logger name="com.jmiddleway" additivity="false">
	    <level value="DEBUG" />
		<appender-ref ref="dailyRollingFileAppender"/>
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref ="dailyRollingFileAppender" />
	</root>
</configuration> 